<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司编辑</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <style>
        form{
            padding-left: 10px;
            padding-top: 10px;
        }
    </style>
</head>
<body>
   <form>
       <p>&nbsp;&nbsp;公司 id &nbsp;&nbsp;:&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>

       <p>公司名称 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司规模 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司行业 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司标签 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司链接 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司介绍 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>联系信息 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>&nbsp;&nbsp;经&nbsp;&nbsp;度&nbsp;&nbsp; &nbsp;:&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>&nbsp;&nbsp;纬&nbsp;&nbsp;度&nbsp;&nbsp; &nbsp;:&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>商业区域:&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司主页 :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>公司LOGO :&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p>&nbsp;&nbsp;融&nbsp;&nbsp;资&nbsp;&nbsp; &nbsp;:&nbsp;&nbsp;<input  type="text"  placeholder=""/></p>
       <p><input type="submit"placeholder="确认提交"></p>

   </form>
</body>
</html>