<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <title>position</title>
            <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
<body>
{#展示职位信息页面#}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>职位id</th>
        <th>职位名称</th>
        <th>职位地点</th>
        <th>职位薪水</th>
        <th>职位优势</th>
        <th>发布时间</th>
        <th>工作需求</th>
        <th>学历要求</th>
        <th>经验要求</th>
        <th>技能需求</th>
        <th>职位链接</th>
        <th> 职位信息</th>
        <th>职位性质</th>
        <th>职位标签</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
    <tr>
        <td>{{  job.id }}</td>
        <td>{{  job.JobName  }}</td>
        <td>{{ job.JobPlace }}</td>
        <td>{{ job.JobSalary }}</td>
        <td>{{ job.JobAdvantage }}</td>
        <td>{{ job.releaseTime }}</td>
        <td>{{ job.jobNeed }}</td>
        <td>{{  job.educationRequire }}</td>
        <td>{{  job.experienceRequire }}</td>
        <td>{{ job.skillRequire }}</td>
        <td>{{ job.jobLink }}</td>
        <td>{{  job.jobInfo }}</td>
        <td>{{  job.jobNature }}</td>
        <td>{{ job.jobLabels }}</td>
        <td>
            <a href="{% url 'jobEdit'%}?jid={{ job.id }}" class="easyui-linkbutton" iconCls="icon-edit" >编辑</a>
            <a href="{% url 'jobDel' %}?jid={{ job.id }}" class="easyui-linkbutton" iconCls="icon-cancel">删除</a>
            <a href="{% url 'jobAdd' %}" class="easyui-linkbutton" iconCls="icon-edit" >添加</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        第{{ page }} 页/总{{ pageAll }}页<br>
        {% if page == 1 and pageAll == page%}
            上一页/下一页
        {% elif page == 1 %}
            <a href="{% url 'jobShowNext' %}?page={{ page }}&flag=1 ">下一页</a>
        {% elif pageAll == page%}
            <a href="{% url 'jobShowNext' %}?page={{ page }}&flag=0 ">上一页</a>
        {% else%}
            <a href="{% url 'jobShowNext' %}?page={{ page }}&flag=0 ">上一页</a>/
            <a href="{% url 'jobShowNext' %}?page={{ page }}&flag=1 ">下一页</a>
        {% endif %}
</body>
</html>