<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>网址</th>
    </tr>
    </thead>
    <tbody>
        {% for web in webs %}
            <tr>
                <td>{{ web.id }}</td>
                <td>{{ web.name }}</td>
                <td><a href="http://{{ web.url }}">{{ web.url }}</a></td>
                <td>
                    <a href="{% url 'websiteEdit'%}?wid={{ web.id }}" class="easyui-linkbutton" iconCls="icon-edit" >编辑</a>
                    <a href="{% url 'websiteDel' %}?wid={{ web.id }}" class="easyui-linkbutton" iconCls="icon-cancel">删除</a>
                    <a href="{% url 'websiteAdd' %}" class="easyui-linkbutton" iconCls="icon-edit" >添加</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>