<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <style>
        .a1{
            padding-left: 620px;
        }
        .p1{
            padding-left: 620px;
        }
    </style>

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>爬虫名</th>
    </tr>
    </thead>
    <tbody>
        {% for web in webs %}
            <tr>
                <td>{{ web.id }}</td>
                <td><a href="http://{{ web.url }}">{{ web.name }}</a></td>
                <td>{{ web.spider }}</td>
                <td>
                    <a href="{% url 'websiteEdit'%}?wid={{ web.id }}" class="easyui-linkbutton" iconCls="icon-edit" >编辑</a>
                    <a href="{% url 'websiteDel' %}?wid={{ web.id }}" class="easyui-linkbutton" iconCls="icon-cancel">删除</a>
                    <a href="{% url 'websiteAdd' %}" class="easyui-linkbutton" iconCls="icon-edit" >添加</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
 <p class="p1">第{{ page }} 页/总{{ pageAll }}页</p>
        <p class="p1">{% if page == 1 and pageAll == page%}
            上一页/下一页
        {% elif page == 1 %}</p><br>
            <a class="a1" href="{% url 'websiteShowNext' %}?page={{ page }}&flag=1 ">下一页</a>
        {% elif pageAll == page%}
            <a class="a1" href="{% url 'websiteShowNext' %}?page={{ page }}&flag=0 ">上一页</a>
        {% else%}
        <br>
            <a href="{% url 'websiteShowNext' %}?page={{ page }}&flag=0 ">上一页</a>/
            <a href="{% url 'websiteShowNext' %}?page={{ page }}&flag=1 ">下一页</a>
        {% endif %}
</body>
</html>