<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    $(function(){
　　$.ajax({
　　　　type:'post',
　　　　url:'',
        contentType: "application/json",
　　　　data:{name:"123",conditions:JSON.stringify(conditons)},
　　　　dataType : 'json',
　　　　success:function(data){
　　　　　　console.log(data);
　　　　},
　　　　error: function (XMLHttpRequest, textStatus, errorThrown){
　　　　　　alert("error");
　　　　}
　　});
});

</script>
<body>
<form action="{% url 'websiteUpdate' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name = "id" value="{{ web.id }}">
    网站名称：<input type="text" name="name" value="{{ web.name }}"><br>
    网址：<input type="text" name="url" value="{{ web.url }}">
    <input type="submit" value="确定">
</form>
</body>
</html>