<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta charset="utf-8">
    <title>position</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{#展示职位信息页面#}
{{ error }}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>编号</th>
        <th>轮播图片</th>
        <th>内容链接</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for carousel in carousels %}
    <tr>
        <td>{{  carousel.id }}</td>
        <td><img src="{% static 'image/carousel/' %}{{ carousel.photo_url }}"></td>
        <td>{{  carousel.content_url  }}</td>
        <td>
            <a href="{% url 'carouselEdit'%}?cid={{ carousel.id }}" class="easyui-linkbutton" iconCls="icon-edit" >编辑</a>
            <a href="{% url 'carouselDel' %}?cid={{ carousel.id }}" class="easyui-linkbutton" iconCls="icon-cancel">删除</a>
            <a href="{% url 'carouselAdd' %}" class="easyui-linkbutton" iconCls="icon-edit" >添加</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>